body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #141e30, #243b55);
  color: white;
}
.container {
  padding: 20px;
}

input {
  padding: 10px;
  width: 250px;
  border-radius: 8px;
  border: none;
}

button {
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.add-btn {
  background-color: #4caf50;
  color: white;
}

.pending {
  background-color: orange;
  color: white;
}

.completed {
  background-color: green;
  color: white;
}

.delete {
  background-color: red;
  color: white;
}
.task-card {
  background: rgba(255,255,255,0.1);
  padding: 20px;
  border-radius: 15px;
  margin-top: 20px;
  backdrop-filter: blur(10px);
}
@media (max-width: 600px) {
  input {
    width: 100%;
    margin-bottom: 10px;
  }

  button {
    width: 100%;
    margin-top: 10px;
  }
}
button:hover {
  transform: scale(1.05);
  transition: 0.3s;
}